<div class="mt-4" [formGroup]="billingForm">
    <h4 class="mb-3">Choose your delivery method</h4>
    <div class="row ml-5" formGroupName="shippingForm">
        <div class="col-6 form-group" *ngFor="let option of shippingOptions">
            <input type="radio" 
                id={{option.id}} 
                (click)="calculateShippingPrice(option)"
                value={{option.id}} 
                formControlName="shippingOption"
                class="custom-control-input">
            <label for="{{option.id}}" class="custom-control-label">
                <strong>{{option.name}} - {{option.price | currency}}</strong>
                <br>
                <span class="label-description">{{option.description}}</span>
            </label>
        </div>
    </div>
</div>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Back to Address
    </button>
    <button [disabled]="billingForm.get('shippingForm').invalid" class="btn btn-primary" cdkStepperNext>
        Go to Review <i class="fa fa-angle-right"></i> 
    </button>
</div>