<div class="card border-left-primary shadow h-100 py-2">
    <div class="card image position-relative" style="cursor: pointer;">
        <img src="{{birthdayPackage.picture || './assets/birthdaypackages1.jpg'}}" 
        alt="{{birthdayPackage.packageName}}" class="img-fluid bg-info">
        <ng-container *ngIf="birthdayPackage.hasDiscountsApplied === true">
            <div class="position-absolute bg-primary text-white  px-2 m-2">
                Discount {{birthdayPackage?.discountSum}}%</div>
        </ng-container>    </div>
    <div class="card-body d-flex flex-column">
        <a routerLink="/birthdaypackages/birthdaypackageinfo/{{birthdayPackage.id}}">
            <h5 class="text-center text-uppercase">{{birthdayPackage.packageName}}</h5>
        </a>
        <div class="text-center" id="wrapper">
        <span>{{birthdayPackage.price | currency}} for {{birthdayPackage.numberOfParticipants}} participants</span>
        </div>
    </div>
  </div>