

  <header id="home-section" class="mb-4">
    <div class="dark-overlay">
      <div class="home-inner container" style="margin-top: 100px">
        <div class="container" style="margin-top: 100px; margin-bottom: 100px">
          <div class="wrapper card col-10 p-3">
            <div class="card-header bg-primary text-light">
              <div class="col-12 d-none d-md-block col-md-6 pb-1">
                <i class="fa fa-envelope"></i>
              </div>
            </div>
            <div class="card-body">
              <div class="container-rounded p-2">
                <div class="row">
                  <div class="col-12 pb-4">
                    <div class="row my-1">
                      <div class="col-3">
                        <strong>Patient Name:</strong>
                      </div>
                      <div class="col-9">
                        <input
                          type="text"
                          class="form-control"
                          readonly="readonly"
                        />
                      </div>
                    </div>
                    <div class="row my-1">
                      <div class="col-3">
                        <strong>Doctor Name:</strong>
                      </div>
                      <div class="col-9">
                        <input
                          type="text"
                          class="form-control"
                          readonly="readonly"
                        />
                      </div>
                    </div>
                    <div class="row my-1">
                      <div class="col-3">
                          <strong>Office Address:</strong>
                      </div>
                      <div class="col-9">
                          <input type="text" class="form-control" 
                          readonly="readonly"              >
                      </div>
                  </div>  
                    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
                      <div class="row my-1">
                        <div class="col-3">
                          <strong>Created:</strong>
                        </div>
                        <div class="col-9">
                          <input
                            type="text"
                            formControlName="created"
                            placeholder="Select date:"
                            class="form-control"
                            bsDatepicker
                            [bsConfig]="{
                              containerClass: 'theme-green',
                              dateInputFormat: 'DD.MM.YYYY  HH:mm'
                            }"
                          />
                        </div>
                        <div class="col-3"></div>
                        <div class="col-9">
                        </div>
                      </div>
                      <div class="row text-center my-1 mt-4 mb-2">
                        <div class="col-12">
                          <strong>Your message</strong>
                        </div>
                      </div>
                      <div class="row my-1">
                        <div class="col-12">
                          <textarea
                            type="text"
                            class="form-control"
                            formControlName="anamnesisDiagnosisTherapy"
                            cols="20"
                            rows="10"
                          ></textarea>
                        </div>
                        <span
                          style="font-size: 14px"
                          class="text-danger ml-3"
                          *ngIf="
                            messageForm.get('anamnesisDiagnosisTherapy')
                              .invalid &&
                            messageForm.get('anamnesisDiagnosisTherapy')
                              .touched &&
                            messageForm.get('anamnesisDiagnosisTherapy').errors[
                              'required'
                            ]
                          "
                        >
                          Please enter Anamnesys, Diagnosys, and Therapy
                        </span>
                      </div>
                      <div class="form-group text-center mt-5">
                        <button
                          [disabled]="!messageForm.valid"
                          class="btn btn-success mr-2"
                          type="submit"
                        >
                          Save
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  