<div class="container" style="margin-top: 100px; margin-bottom: 100px">
    <div class="d-flex justify-content-center mt-5">
      <div class="col-6">
        <form
          [formGroup]="itemForm"
          (ngSubmit)="itemForm.valid && onSubmit()"
        >
          <h2 class="kiki text-center text-primary">Edit Item</h2>
          <input formControlName="id" id="id" class="form-control" hidden />
          <app-text-input
            [formControl]="itemForm.controls['name']"
            [label]="'Product Name'"
          ></app-text-input>
          <app-text-input
            [formControl]="itemForm.controls['price']"
            [label]="'Price'"
          ></app-text-input>
          <div class="form-group row">
            <div class="col-md-12">
              <textarea
                type="text"
                placeholder="Description"
                class="form-control"
                formControlName="description"
                rows="10"
              ></textarea>
            </div>
            <span
              style="font-size: 14px"
              class="text-danger ml-3"
              *ngIf="
                itemForm.get('description').invalid &&
                itemForm.get('description').touched &&
                itemForm.get('description').errors['required']
              "
            >
              Please enter a Description
            </span>
            <span
            style="font-size: 14px"
            class="text-danger ml-3"
            *ngIf="
              itemForm.get('description').invalid &&
              itemForm.get('description').touched &&
              itemForm.get('description').errors['minlength']
            "
          >
            Please enter at least 100 characters
          </span>
          <span
            style="font-size: 14px"
            class="text-danger ml-3"
            *ngIf="
              itemForm.get('description').invalid &&
              itemForm.get('description').touched &&
              itemForm.get('description').errors['maxlength']
            "
          >
            Please enter at most 2000 characters
          </span>
          </div>

          <h4>Select Category(ies)</h4>
          <app-multiple-selector
            *ngIf="nonSelectedCategories"
            [NonSelectedItems]="nonSelectedCategories"
            [SelectedItems]="selectedCategories"
          ></app-multiple-selector>
          <hr />

          <h4>Select Discount(s)</h4>
          <app-multiple-selector
            *ngIf="nonSelectedDiscounts"
            [NonSelectedItems]="nonSelectedDiscounts"
            [SelectedItems]="selectedDiscounts"
          ></app-multiple-selector>
          <hr />
  
          <h4>Select Manufacturer(s)</h4>
          <app-multiple-selector
            *ngIf="nonSelectedManufacturers"
            [NonSelectedItems]="nonSelectedManufacturers"
            [SelectedItems]="selectedManufacturers"
          ></app-multiple-selector>
          <hr />
  
          <h4>Select Tag(s)</h4>
          <app-multiple-selector
            *ngIf="nonSelectedTags"
            [NonSelectedItems]="nonSelectedTags"
            [SelectedItems]="selectedTags"
          ></app-multiple-selector>
          <hr />
          <app-img-input
          [urlCurrentImage]="model?.picture"
          (onImageSelected)="onImageSelected($event)"
        >
        </app-img-input>
          <div
            style="margin-top: 50px; margin-bottom: 40px"
            class="form-group text-center"
          >
            <button
              [disabled]="!itemForm.valid"
              class="btn btn-success mr-2"
              type="submit"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  