<div class="container" style="margin-top: 200px;">   
    <div class="d-flex justify-content-center mt-5">
        <div class="col-4">
            <form [formGroup]='loginForm' (ngSubmit)="loginForm.valid && onSubmit()">
                <h2 class="kiki text-center text-primary">Login</h2>
                <app-text-input [formControl]='loginForm.controls["email"]' 
                    [label]='"Email"'></app-text-input>      
                <app-text-input [formControl]='loginForm.controls["password"]' 
                    [label]='"Password"' [type]='"password"'>
                </app-text-input>    
                <div class="form-group text-center">
                    <button [disabled]='!loginForm.valid' class="btn btn-success mr-2" type="submit">Login</button>
                </div>
            </form>
            </div>
            </div>
            </div>

