<div class="card border-left-primary shadow h-100 py-2">
    <div class="card image position-relative" style="cursor: pointer;">
        <img src="{{serviceIncluded.picture || './assets/activity.jpg'}}" 
        alt="{{serviceIncluded.name}}" class="img-fluid bg-info">
    <div class="card-body d-flex flex-column">
        <a routerLink="/birthdaypackages/serviceincludedinfo/{{serviceIncluded.id}}">
            <h5 class="text-center text-uppercase">{{serviceIncluded.name}}</h5>
        </a>
    </div>
  </div>