<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover table-stripped table-bordered" style="cursor: pointer;">
                <thead class="thead-dark">
                    <tr>
                        <th>Order No</th>
                        <th>Date and Time</th>
                        <th>Total</th>
                        <th>Payment Status</th>
                        <th>Order Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders" routerLink="/orders/{{order.id}}">
                        <th>{{order.id}}</th>
                        <td>{{order.dateOfCreation | date: "dd.MM.yyyy. HH:ss"}}</td>
                        <td>{{order.getTotal | number: "1.2-2" }} kn</td>
                        <td>{{order.paymentStatus}}</td>
                        <td>{{order.orderStatus}}</td>
                        <td>
                            <div class="text-center">
                                <button
                                  routerLink="/orders/editorder1/{{ order.id }}"
                                  type="button"
                                  class="btn btn-success d-inline mr-3"
                                >
                                  <i class="fa fa-ticket"></i>
                                  Edit
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>