.kiki {
    margin-top: 20px;
}

.kiki1 {
    margin-top: 15px;
}

.pip {
    margin-left: 10px;
}

.zagi {
    height: 400px;
}

#wrapper {
    overflow: hidden;
}

#first {
    float: left;
    margin-right: 30px;
    text-decoration: line-through;
}

#second {
    float: left;
    margin-top: 18px;
    margin-right: 5px;
    color: red;
}

#third {
    float: left;
    margin-right: 15px;
}

.sale {
	position: relative;
	display: inline-block;
	background: orange;
	color: white;
	height: 2.5rem;
	width: 2.5rem;
	text-align: center;
	vertical-align: middle;
	line-height: 2.5rem;
	transform: rotate(-20deg);
	animation: beat 1s ease infinite alternate;
	/* &:before,
	&:after {
		content:"";
		position: absolute;
		background: inherit;
		height: inherit;
		width: inherit;
		top: 0;
		left: 0;
		z-index: -1;
		transform: rotate(30deg);
	}
	&:after {
		transform: rotate(60deg);
	} */
}

@keyframes beat {
	from {	transform: rotate(-20deg) scale(1); }
	to {	transform: rotate(-20deg) scale(1.1); }
}


