
<div class="container mt-5">
  <div class="row" *ngIf="item">
      <div class="col-6">
          <img src="{{item.picture || './assets/kids.jpg'}}" alt="{{item.name}}" class="img-fluid w-100">
      </div>
      <div class="col-6">
          <h3>{{item.name}}</h3>
          <p style="font-size: 2em;">{{item.price | number: "1.2-2" }} kn</p>
          <ng-container>
            <div *ngIf="item?.stockQuantity > 0; else elseBlock" 
            class="d-flex justify-content-start align-items-center">
              <i (click)="decreaseQuantity()" 
              class="fa fa-minus-circle text-warning mr-2" style="cursor: pointer; font-size: 2em;"></i>              
              <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>
              <i (click)="increaseQuantity()" class="fa fa-plus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em;"></i>              
              <button [disabled]="item?.stockQuantity < 1" (click)="addingItemToBasket()" class="btn btn-outline-primary btn-lg ml-4">Add to Cart</button>          
              <p class="pip mt-3" 
              *ngIf="item?.stockQuantity < 3 && item?.stockQuantity > null">
              {{item.stockQuantity - 1}} item(s) remaining </p>      
            </div>
            <ng-template #elseBlock>
              <h3 style="color: red;" class="mt-3" 
              *ngIf="item?.stockQuantity < 1">
             Out of stock! </h3>
            </ng-template>

          </ng-container>
        <!--   <div class="d-flex justify-content-start align-items-center">
            <i (click)="decreaseQuantity()" 
            class="fa fa-minus-circle text-warning mr-2" style="cursor: pointer; font-size: 2em;"></i>              
            <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>
            <i (click)="increaseQuantity()" class="fa fa-plus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em;"></i>              
            <button [disabled]="item?.stockQuantity < 1" (click)="addingItemToBasket()" class="btn btn-outline-primary btn-lg ml-4">Add to Cart</button>          
            <p class="pip mt-3" 
            *ngIf="item?.stockQuantity < 3 && item?.stockQuantity > null">
            {{item.stockQuantity - 1}} item(s) remaining </p>
            <p style="color: red;" class="pip mt-3" 
            *ngIf="item?.stockQuantity < 1">
           Out of stock! </p>
          </div> -->
            <p class="kiki">
              Average vote: {{ item.averageVote }} | Your vote:
              {{ item.userVote }}
            </p>
            <ng-container>
              <app-rating
                (nonRating)="onRating($event)"
                [selectedRate]="item.userVote"
              ></app-rating>
            </ng-container>
            <div class="kiki1" *ngFor="let discount of item.discounts">
              <li>{{discount.name}} {{discount.discountPercentage}} % valid untill {{discount.endDate}}</li>
            </div>
          </div>
    </div>
      <div>
   </div>     
   <div>
    <h4 class="mt-3">Description:</h4>
    <p>{{item?.description}}</p> {{item?.stockQuantity}}
   </div>
</div>

