<ng-container *ngIf="basket$ | async">
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="border-0" scope="col">
                        <div class="p-2 px-3 text-uppercase">Product</div>
                    </th>
                    <th scope="col" class="border-0">
                        <div class="py-2 text-uppercase">Price</div>
                    </th>
                    <th scope="col" class="border-0">
                        <div class="py-2 text-uppercase">Quantity</div>
                    </th>
                    <th scope="col" class="border-0">
                        <div class="py-2 text-uppercase">Total</div>
                    </th>
                    <th *ngIf="isBasket" scope="col" class="border-0">
                        <div class="piki py-2 text-uppercase">Remove</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of (basket$ | async).basketItems">
                    <td scope="row">
                        <div class="p-2">
                            <img src="{{item.picture || './assets/kids.jpg'}}"
                                class="img-fluid" style="max-height: 50px;">
                            <div class="ml-3 d-inline-block align-middle">
                                <h5 class="mb-0">
                                    <a routerLink="/shop/{{item.id}}"
                                        class="text-dark">{{item.itemName}}</a>
                                </h5>
    
                            </div>
                        </div>
                    </td>
                    <ng-container>
                        <td class="align-middle" *ngIf="item?.discountedPrice !== null; else elseBlock">
                            <strong>{{item.discountedPrice | currency}}</strong>
                        </td>
                        <ng-template #elseBlock>
                            <td class="align-middle">
                                <strong>{{item.price | currency}}</strong>
                            </td>
                        </ng-template>
                    </ng-container>
                    <td class="align-middle">
                        <div class="d-flex align-items-center"
                        [class.justify-content-center]="!isBasket">
                            <i *ngIf="isBasket" (click)="decreaseBasketItemQuantity(item)" class="fa fa-minus-circle text-warning mr-2"
                                style="cursor: pointer; font-size: 2em;"></i>
                            <span class="font-weight-bold" style="font-size: 1.5em;">
                                {{item.quantity}}
                            </span>
                            <i *ngIf="isBasket" (click)="increaseBasketItemQuantity(item)" class="fa fa-plus-circle text-primary mx-2"
                                style="cursor: pointer; font-size: 2em;"></i>
                        </div>
                    </td>
                    <ng-container>
                        <td *ngIf="item?.discountedPrice !== null; else elseBlock" class="align-middle">
                            <strong>{{item.discountedPrice * item.quantity | currency}}</strong>
                        </td>
                        <ng-template #elseBlock>
                            <td class="align-middle">
                                <strong>{{item.price * item.quantity | currency}}</strong>
                            </td>
                        </ng-template>

                    </ng-container>

                    
                    <td class="align-middle text-center">
                        <a class="text-danger">
                        <button *ngIf="isBasket" (click)="removingItemFromBasket(item)" class="btn btn-outline-danger">
                            <i  class="fa fa-trash" style="font-size: 2em; cursor: pointer;"></i>
                        </button>                            
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>

